*{
	margin: 0;
	padding: 0;
}

.ttl_graph_box{
	position: absolute;
	right: 0;
	top: 10%;
	height: 90%;
	width: 80%;
	float: left;
	background-color: rgba(221, 218, 218, 0.726);
	font-family: "Archivo", sans-serif;
}

	.graph1_box{
		position: relative;
		width: 30%;
		height: 100%;
		float: left;
	}
	
		.radar{
			position: relative;
			width: 80%;
			height: 80%;
			margin: 10%;
			float: left;
		}

		.cb_titles{
			font-size: 20px;
			margin-left: 20%;
			margin-bottom: 5px;
			margin-top: 10px;
		}
	
		.radar_cb{
			position: absolute;
			bottom : 10px;
			left: 10px;
			height:50%;
			width: 100%;
			overflow: auto;
			float:left;
		}

		#apply_filters{
			margin-top: 20px;
			width: 50%;
			margin-left: 25%;
			margin-right: 25%;
		}

	.graph2_box{
		position: relative;
		width: 70%;
		height: 100%;
		float: left;
	}
		
		.ttl_chart{
			position: relative;
			width: 90%;
			margin-left: 5%;
			margin-right: 5%;
			margin-top: 5%;
			float: left;
		}